extends layout 

block content 
    h1 Item details
    p Name: #{item.name}
    if item.description 
        p Description: #{item.description}
    if item.categories.length > 0
        p Categories: 
            for category, index in item.categories 
                a(href=category.url)= category.name
                if index !== item.categories.length - 1
                    |, 
    p Price: #{item.price}
    p Number in stock: #{item.numberInStock}
    div 
        a(href=item.updateUrl) Update
        | 
        a(href=item.deleteUrl) Delete